</main>
<footer class="d-flex flex-wrap justify-content-between align-items-center pb-2 mt-4 border-top">
    <div class="col-md-4 d-flex align-items-center">
      <span class="mb-3 mb-md-0 text-body-secondary bold ">Make Beauty ©
        <% const d = new Date(); %>
        <%  let year = d.getFullYear(); %>
        <%= year %>
       </span>
    </div>
    <ul class="nav  col-md-4 justify-content-end mx-5 list-unstyled  ">
      <li class="ms-3 display"><a class="text-body-secondary px-3" href="#go"><img class="bi " width="24" height="24" src="\pics\twitter-x.svg"></img></a></li>
      <li class="ms-3 display"><a class="text-body-secondary px-3" href="#go"><img class="bi " width="24" height="24" src="\pics\instagram.svg"></img></a></li>     
      <li class="ms-3 display"><a class="text-body-secondary px-3" href="#go"><img class="bi " width="24" height="24" src="\pics\youtube.svg" ></img></a></li>
      <li class="ms-3"><a class="text-body-secondary px-3" target=”_blank”  href="https://www.linkedin.com/in/sulem-jibril-dawud-b04252220"><img class="bi " width="24" height="24" src="\pics\linkedin.svg" ></img></a></li>
    </ul>
</footer> 
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<script src="index.js" ></script>
</body>

</html>