<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="/main.css">
    <title>Make Beauty</title>
    <link rel="shortcut icon" type="image/png" href="/pencil-square.svg">
	
</head>
<div id="header">
    <nav class="navbar justify-content-center navbar-expand-lg navbar-light pt-1 pb-1  border-top">
      <div class="container-fluid">
        <a class="navbar-brand mb-3 mb-md-0 me-md-auto link-body-emphasis " href="/"><span class="fs s">Make Beauty</span></a>
        <button class="navbar-toggler " type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
  
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav nav ms-auto justify-content-end mx-5">
            <li class="nav-item  px-2 ">
              <a class="nav-link " href="/">Home</a>
            </li>
            <li class="nav-item px-1 ">
              <a class="nav-link" href="/about">About</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
</div>

<main >